.about {
    width: 60%;
    margin: 5rem auto;

    @include respond("xl") {
        width: 90%;
    }

    &__title {
        margin-bottom: 2rem;
    }

    &__p {
        margin-bottom: 2rem;
    }
}