.statues {
    padding: 10rem 0;

    &__container-products {
        height: 65rem;
        display: flex;
        align-items: center;
        justify-content: space-around;

        @include respond("lg") {
            height: auto;
            flex-direction: column;
        }
    }
}